.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #454b58;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
}

.nav-link {
  padding: 10px 20px;
  position: relative;
/* font-family: 'Poppins'; */
font-size: 15px;
margin-left: 15px;
font-weight: 600;

}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: white; /* underline color */
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.news-card{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  align-items: stretch;
}
.navbar{
  background-color: black;
}

.navbar .navbar-brand{


  font-weight: 800;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 23px;



}

.inptsearch
{

  height: 36px ;
 width: 300px ;
  outline: none; 
  font-size: 13px;
  padding: 5px;
border-bottom: 3px solid rgb(141, 141, 141);
border-left: none;
border-top: none;
border-right: none;
font-family: 'Poppins';
  


}

.inptsearch:hover{
  background-color: white;
}


.butons{
  border: none;
  font-size: 17px;
  background:none;
  color: gray;
  
}

.butonss{
  border: none;
  font-size: 19px;
  background: none;
  color: gray;
  
}

.buttonscontainer{
  display: flex ;
  align-items: center;
  justify-content: end;
  
}

thead tr th{

  font-size: 14px;
  font-family: 'Poppins';

}

.readbutton{
  text-decoration: none;
  background-color: rgb(92, 87, 87);
  color: white;
  padding: 7px;
  border-radius: 6px;
  font-size: 13px;
  margin-top: 9px;
  transition: all 0.3s ease;
}

.readbutton:hover{

  background-color: white;
  color: black;
  border: 1px solid black;

}